* {
  margin: 0;
  padding: 0;
}

/* ********************************* About Page Styles ********************************* */

body {
  background: url(../assets/img/bg_shape.png) var(--darkwhite) fixed center / cover;
}

.container {
  margin: 10rem auto;
  padding: 1rem;
}

.container h2 {
  margin: 3rem auto;
  font-size: 35px;
  font-weight: 600;
  color: var(--lightblack);
  letter-spacing: 0.2px;
  text-align: center;
}

.container .content .title {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: var(---lightblack);
}

.container .text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--lightblack);
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: -0.2px;
}

.container i {
  font-size: 40px;
  text-align: center;
  display: block;
  margin: 20px;
}

.ghost-blue {
  -webkit-text-stroke: 2px var(--primaryblue);
  color: transparent;
}

.ghost-green {
  -webkit-text-stroke: 2px var(--primarygreen);
  color: transparent;
}

.ghost-red {
  -webkit-text-stroke: 2px var(--primaryred);
  color: transparent;
}

.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .content {
  width: 280px;
  padding: 25px 30px;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 0 15px rgb(99 114 130 / 30%);
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  background-color: var(--darkwhite);
}

.container .content:hover {
  transform: scale(1.1);
}
