* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
li,ul{
    list-style:none;
    padding:0;
    margin:0;
}
.sec-title{
    position:relative;
    padding-bottom:40px;
}
.sec-title .title{
    position:relative;
    color:#069e57;
    font-size:28px;
    font-weight:700;
    padding-right:50px;
    margin-top:10px;
    display:inline-block;
    text-transform:capitalize;
}
.sec-title h2{
    position:relative;
    color:#069e57;
    font-size:36px;
    font-weight:700;
    margin-top:15px;
    display:block;
}
.contact-page-section{
    position:relative;
    padding-top:110px;
    padding-bottom: 110px;
}
.contact-box{
    background-color:#fff;
    display: flex; 
    box-shadow:0 0 15px 5px rgba(0,0,0,0.1);
}
.contact-left{
    background:#fff;
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    background:#4086f4;
    flex-basis: 40%;
    padding: 40px 60px;
}
.contact-right h3{
    color:#fbbd00;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row .input-group{
    flex-basis: 45%;
}
.row .input-group input{
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #4086f4;
}
textarea{
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 1px solid #4086f4;
}
label{
    margin-bottom: 7px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: #4086f4;
}
button{
    border: none;
    outline: none;
    width: 100px;
    background-color: #4086f4;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
}
button:hover{
    background-color: #1067F1;
    transition:  all 0.3s linear;
}
table tr td{
    color: #fbbd00;
    font-size: 15px;
    padding-top: 30px;
    min-width: 30px;
    vertical-align: top;
}
table tr td a{
    text-decoration: none;
    margin-right: 5px;

}
table tr td a i{
    color: #eb4132;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 15px;
}
table tr td a i:hover{
    color: #D52415;
    transition:  all 0.3s linear;
}

@media(max-width: 768px)
{
    .container{
        width: 90%;
        margin: -50px auto;
    }

    .contact-box{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    label{
        margin-top: 10px;
    }
}