/* ********************************* Events Page Styles ********************************* */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/img/bg_shape.png) var(--darkwhite) fixed center / cover;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 10rem auto;
  padding: 1rem;
  max-width: 1000px;
}

p {
  font-size: 1.6rem;
  color: var(--lightblack);
}

.section-title {
  margin-top: 3rem;
  font-size: 35px;
  font-weight: 600;
  color: var(--lightblack);
  letter-spacing: 0.2px;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--lightblack);
  letter-spacing: 0.2px;
  text-align: center;
}

.underline {
  height: 0.4rem;
  width: 8rem;
  border-radius: 5px;
  background: var(--primarygreen);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.upcoming-event-text
{
  text-align: center;
  padding: 0 0 7vh 0;
}
.view-more{
  display: flex;
  align-items: center;
  justify-content:center ;
  text-align: center;
  margin: 0 auto;
  padding: 15px 21px;
  border-radius: 40px;
  font-size: 15px;
  background: #2f5be7;
  border: none;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.view-more:hover{
  background: #007bff;
  box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
  text-decoration: none;
}
.button {
  background: #2f5be7;
  box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  color: #ffffff;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
}

.button:hover {
  background: #007bff;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}

#events .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

#events .item:nth-of-type(even) {
  flex-direction: row-reverse;
}

#events .item .left {
  flex: 1;
}

#events .item .right {
  margin-left: -150px;
  flex: 1;
  background-color: var(--darkwhite);
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(99 114 130 / 30%);
  z-index: 2;
}

#events .item:nth-of-type(even) .right {
  margin-left: 0;
}

#events .item:nth-of-type(even) .left {
  margin-left: -150px;
}

#events .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(99 114 130 / 30%);
  position: relative;
}

#events .item .left .img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#events .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}

#events .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}

#events .item .right .event-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#events .item .right .event-subheading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--lightblack);
}

#events .item .right .event-description {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  #events .item {
    flex-direction: column;
  }
  #events .item .left {
    width: 90%;
  }
  #events .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }
  #events .item:nth-of-type(even) {
    flex-direction: column;
  }
  #events .item:nth-of-type(even) .left {
    margin-left: 0;
  }
}
