@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
  background-color: #cc5577;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.event {
  /* background-color: #8cf01a; */
  /* border: 1px solid #e3e3e3; */
  /* border-radius: 4px; */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.eventCard {
  width: 60vw;
  min-height: 40vh;
  height: fit-content;
  background-color: rgba(56, 247, 110, 0.5);
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  border-radius: 20px;
  /* opacity: 0.2; */
  min-width: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.eventCard:nth-child(odd) {
  float: right;
  margin-right: 50px;
  flex-direction: row-reverse;
}
.eventCard:nth-child(even) {
  float: left;
  margin-left: 50px;
  flex-direction: row;
}
.eventCard:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.eventCard:nth-child(odd) .eventImage {
  min-height: fit-content;
  /* height: inherit; */
  display: flex;
  /* background-color: tomato; */
  align-self: center;
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  float: right;
}
.eventCard:nth-child(even) .eventImage {
  /* min-height: 40vh; */
  height: fit-content;
  display: flex;
  align-self: center;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
}
.eventCard:nth-child(odd) .eventStat {
  min-height: 40vh;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
  float: left;
}
.eventCard:nth-child(even) .eventStat {
  min-height: 40vh;
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  float: right;
  text-align: right;
}
.eventImage{
  height: inherit;
  /* background-color: violet; */
}
.eventImage img {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
}
.eventStat:nth-child(odd) p{
    text-align: center;
    margin-top: 10%;
    font-size: 13px;
    padding-left: 10px ;
    padding-right: 30px;    
    /* line-height: normal; */
}
.eventStat:nth-child(even) p{
    text-align: center;
    margin-top: 10%;
    font-size: 13px;
    padding-left: 30px ;
    padding-right: 10px;    
    /* line-height: normal; */
}

@media screen and (max-width: 900px) {
  .eventCard {
    flex-direction: column;
    width: 80vw;
    min-width: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center;  
     
  }
  .eventCard:nth-child(odd) {
    /* float: right; */
    /* margin-right: 50px; */
    flex-direction: column;
  }
  .eventCard:nth-child(even) {
    /* float: left; */
    /* margin-left: 50px; */
    flex-direction: column;
  }
  .eventImage {
    display: flex;
    width: fit-content;
    /* background-color: yellow; */
  }
  .eventCard:nth-child(odd)  .eventStat {
    /* display: flex; */
    width: fit-content;
    text-align: center;
    /* background-color: yellowgreen; */
  }
  .eventCard:nth-child(even)  .eventStat {
    /* display: flex; */
    width: fit-content;
    text-align: center;
    /* background-color: yellowgreen; */
  }
}
