@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: fit-content;
}
.upcoming{
  display: grid;
}
.event {
  /* background-color: #8cf01a; */
  /* border: 1px solid #e3e3e3; */
  /* border-radius: 4px; */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.eventCard {
  width: 60vw;
  min-height: 40vh;
  height: fit-content;
  background-color: rgba(56, 247, 110, 0.5);
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  border-radius: 20px;
  /* opacity: 0.2; */
  min-width: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.eventCard:nth-child(odd) {
  float: right;
  margin-right: 50px;
  flex-direction: row-reverse;
}
.eventCard:nth-child(even) {
  float: left;
  margin-left: 50px;
  flex-direction: row;
}
.eventCard:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.eventCard:nth-child(odd) .eventImage {
  min-height: fit-content;
  /* height: inherit; */
  display: flex;
  /* background-color: tomato; */
  align-self: center;
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  float: right;
}
.eventCard:nth-child(even) .eventImage {
  /* min-height: 40vh; */
  height: fit-content;
  display: flex;
  align-self: center;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
}
.eventCard:nth-child(odd) .eventStat {
  min-height: 40vh;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
  float: left;
}
.eventCard:nth-child(even) .eventStat {
  min-height: 40vh;
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  float: right;
  text-align: right;
}
.eventImage {
  height: inherit;
  /* background-color: violet; */
}
.eventImage img {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
}
.eventStat:nth-child(odd) p {
  text-align: center;
  margin-top: 10%;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 30px;
  /* line-height: normal; */
}
.eventStat:nth-child(even) p {
  text-align: center;
  margin-top: 10%;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 10px;
  /* line-height: normal; */
}


/* past event specifics*/
.past{
  display: grid;
}
.past .event{
  text-align: right;
}
.past .eventCard{
  background-color: #e0e75f58;
}
.past .eventCard:nth-child(odd) .eventImage {
  width: 500px;
  padding-left: 20px;
}
.past .eventCard:nth-child(odd) .eventStat {
  max-width: 500px;
  /* min-width: 200px; */
}

.past .eventCard:nth-child(even) .eventImage {
  width: 500px;
  min-width: 450px;
  padding-right: 20px;
}
.past .eventCard:nth-child(even) .eventStat {
  max-width: 500px;
  /* min-width: 200px; */
}

.past .eventCard{
  min-width: fit-content;
}
.past .eventImage img{
  border-radius: 0%;
  width: 100%;
  box-sizing: border-box;
}

.past .eventStat h5{
  text-align: center;
}

@media screen and (max-width: 900px) {
  .eventCard {
    flex-direction: column;
    width: 80vw;
    min-width: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .eventCard:nth-child(odd) {
    /* float: right; */
    /* margin-right: 50px; */
    flex-direction: column;
  }
  .eventCard:nth-child(even) {
    /* float: left; */
    /* margin-left: 50px; */
    flex-direction: column;
  }
  .eventImage {
    display: flex;
    width: fit-content;
    /* background-color: yellow; */
  }
  .eventCard:nth-child(odd) .eventStat {
    /* display: flex; */
    width: fit-content;
    text-align: center;
    /* background-color: yellowgreen; */
  }
  .eventCard:nth-child(even) .eventStat {
    /* display: flex; */
    width: fit-content;
    text-align: center;
    /* background-color: yellowgreen; */
  }
}
