/* ********************************* Home Page Styles ********************************* */

.landing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 60px;
  flex-wrap: wrap;
}
.landing-left {
  flex: 0.6;
}
.landing-left > img {
  max-width: 100%;
  min-width: 300px;
  /* max-width: 600px */
}

.landing-right {
  min-width: 320px;
  margin: 60px 20px;
  display: flex;
  flex: 0.4;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  box-shadow: 5px 2px 20px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

.landing-right > h1 {
  font-size: 40px;
  margin-top: 20px;
}
.landing-right > p {
  font-size: 20px;
  /* text-align: center; */
  margin: 20px 0;
  color: var(--lightblack);
  line-height: 32px;
}

first-letter {
  color: var(--primaryblue);
}

second-letter {
  color: var(--primaryyellow);
}

third-letter {
  color: var(--primaryred);
}

forth-letter {
  color: var(--primarygreen);
}

.member-button {
  background: #2f5be7;
  box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  color: #ffffff;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
}

.member-button:hover {
  background: #007bff;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 40px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (min-width: 768px) {
  .landing-right {
    width: 100% !important;
  }
}
