* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  margin-top: 15px;
  color: whitesmoke;
  background-color: #34a853;
  ;
}

p {
  font-size: medium;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding-bottom: 1px;

}

.main-div {
  width: 100%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
}

h3 {
  padding: 5px;
  text-shadow: 0px 1px rgb(8, 8, 8);
  color: rgb(243, 221, 28);
  text-align: center;
}

.div1,
.div2,
.div3 {
  width: 25%;
  font-size: medium;
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;

}

li {
  padding: 2px;
}

li:hover {
  font-size: larger;
}

.div1 {
  margin-left: 1%;
  text-align: justify;
  text-justify: inter-word;
  width: 40%;
}


.img2 {
  /* width:100%;  */
  height: 10vw;
  max-height: 220px;
  position: absolute;
  /* position: relative; */
  right: 0;
  /* top: 5px; */
}

hr {
  margin-left: 25%;
}

.btm {
  margin-left: 29%;
}

.nxtdiv {
  text-align: center;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  
}
.i1,
.i2,
.i3,
.i4,
.i5,
.i6 {
  font-size: 2vw;
  color: white;
}

.i1:hover,
.i2:hover,
.i3:hover,
.i4:hover,
.i5:hover ,
.i6:hover{
  font-size: 2.1vw;
  /* background-color: #7bcf92; */
  color: #04571a;
}