/* ********************************* Team Page Styles ********************************* */

body {
  background: url(../assets/img/bg_shape.png) var(--darkwhite) fixed center / cover;
}

/* ********************************* Team Section ********************************* */

section#team div.team {
  position: relative;
  margin: 10rem auto 0;
  padding: 2rem;
}

div.team h1,
div.team h2,
div.team h3 {
  margin: 1rem auto;
  padding: 0.5rem 0 0.8rem;
  position: relative;
  width: fit-content;
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--primaryfont_serif);
  color: var(--darkblack);
  text-align: center;
  letter-spacing: 0.5px;
  border: none;
  border-top: 4px solid var(--darkblack);
  border-bottom: 4px solid var(--darkblack);
}

div.team h1 {
  font-size: 4rem;
}
div.team h2 {
  font-size: 3.5rem;
}
div.team h3 {
  font-size: 3rem;
}

@media (max-width: 572px) {
  div.team h1 {
    font-size: 3.5rem;
  }
  div.team h2 {
    font-size: 3rem;
  }
  div.team h3 {
    font-size: 2.8rem;
  }
}

/* ********************************* Team Members ********************************* */

div.team .member {
  position: relative;
  margin: 8rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

/* ********************************* Members Cards ********************************* */

div.team .member .profile_card {
  position: relative;
  margin: auto;
  padding: 2rem;
  width: 30rem;
  height: 28rem;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background: var(--darkwhite);
  border: 4px solid var(--darkblack);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* Card Border Colors */
div.team .member .profile_card.red {
  border: 4px solid var(--primaryred);
}
div.team .member .profile_card.blue {
  border: 4px solid var(--primaryblue);
}
div.team .member .profile_card.green {
  border: 4px solid var(--primarygreen);
}
div.team .member .profile_card.yellow {
  border: 4px solid var(--primaryyellow);
}

/* Profile Image */
div.team .member .profile_card img {
  margin: auto auto 0.5rem;
  padding: 0.5rem;
  width: 11.5rem;
  height: auto;
  background: var(--darkwhite);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
}

div.team .member .profile_card:hover img {
  transform: scale(1.05);
}

/* Profile Name */
div.team .member .profile_card h4 {
  margin: 1rem auto;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--mainfont);
  color: var(--lightblack);
  text-align: center;
  transition: all 0.2s ease;
}
div.team .member .profile_card h4.lg {
  font-size: 3rem;
}

div.team .member .profile_card:hover h4 {
  transform: scale(0.9);
}

/* Profile Tags */
div.team .member .profile_card p {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}

div.team .member .profile_card p span {
  margin: 0.2rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--mainfont);
  color: var(--darkwhite);
  background: var(--darkblack);
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 50px;
}

/* Tags Colors */
div.team .member .profile_card p span.red {
  background: var(--primaryred);
}
div.team .member .profile_card p span.blue {
  background: var(--primaryblue);
}
div.team .member .profile_card p span.green {
  background: var(--primarygreen);
}
div.team .member .profile_card p span.yellow {
  background: var(--primaryyellow);
}

/* Profile Social Links */
div.team .member .profile_card .social {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.4s ease;
}

div.team .member .profile_card:hover .social {
  opacity: 1;
}

div.team .member .profile_card .social a {
  margin: 0.6rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--darkblack);
  background: var(--darkwhite);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: translateY(20rem);
  transition: all 0.2s ease, transform 0.5s cubic-bezier(0.1, 1.36, 0.55, 0.98);
}

div.team .member .profile_card:hover .social a {
  transform: translateY(0);
}

div.team .member .profile_card:hover .social a:nth-child(1) {
  transition: transform 0.5s cubic-bezier(0.1, 1.36, 0.55, 0.98) 0;
}
div.team .member .profile_card:hover .social a:nth-child(2) {
  transition: transform 0.5s cubic-bezier(0.1, 1.36, 0.55, 0.98) 0.1s;
}
div.team .member .profile_card:hover .social a:nth-child(3) {
  transition: transform 0.5s cubic-bezier(0.1, 1.36, 0.55, 0.98) 0.2s;
}

div.team .member .profile_card .social a:hover {
  color: var(--darkwhite);
  background: var(--darkblack);
}

div.team .member .profile_card .social a i {
  transition: transform 0.8s ease;
}

div.team .member .profile_card .social a:hover i {
  transform: rotateY(1turn);
}

 /* ----------------Show Team----------- */
 .show_team{
  display: flex;
  justify-content: center;
  gap: 2rem;
 }
 .show-team{
  font-size: 2.2rem;
  border-width: 2px;
  padding: 0.5rem 1rem;
 }

/* ********************************* Responsive Media ********************************* */

/* Already Responsive */

/* ********************************* Styles End ********************************* */
